.container h1{
  text-align: center;
  font-family: helvetica;
  margin-bottom: 2%;
  margin-top: 2%;
  font-weight: bold;
  letter-spacing: 2pt;
  color: #AB2328;
}

.form-group{
  font-size: 12pt;
  font-family: helvetica;
  letter-spacing: 1pt;
}

body{
  background-color: #C2EAF3;
}

div.celebrity div{
  margin:5%;
  text-align: center;
  display: none;
}
